---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";

import { getLocalHref } from "@/lib/routing";
import Header from "@/components/header.astro";
import Newsletter from "@/components/newsletter/newsletter.astro";
import ScrollTopButton from "@/components/scroll-top-button.astro";
import Section from "@/components/section.astro";
import { getTranslation } from "@/i18n/translation";

import ArticleContent from "./components/article-content.astro";
import ArticleLangSwitch from "./components/article-lang-switch.astro";
import Toc from "./components/toc.astro";

type Props = CollectionEntry<"blog">;

const { id, data } = Astro.props;
const t = getTranslation("blog");
---

<Header back={{ href: getLocalHref("/blog"), text: t.viewAll() }} />
<Section
  _title="blog"
  class="flex max-w-none flex-col items-center justify-center gap-12 pt-12 pb-12"
>
  <Toc {...Astro.props} />
  <div class="relative h-96 w-full max-w-7xl lg:h-[32rem]">
    <div
      class="absolute top-1/2 left-1/10 z-0 h-1/2 w-4/5 bg-radial from-red-500 opacity-20 blur-3xl"
      style={{
        "--tw-gradient-from": data.colors[0],
        "--tw-gradient-to": data.colors[1],
      }}
    >
    </div>
    <Image
      src={data.cover}
      alt={data.coverAlt}
      class="absolute inset-0 z-10 size-full rounded-4xl bg-radial from-red-500 object-cover shadow-xl"
      style={{
        "--tw-gradient-from": `${data.colors[0]}20`,
        "--tw-gradient-to": `${data.colors[1]}20`,
      }}
    />
  </div>
  <div class="flex w-full flex-col items-center gap-4">
    {data.translated && <ArticleLangSwitch id={id} />}
    <ArticleContent {...Astro.props} />
  </div>
</Section>
<Section _title="newsletter" class="pb-32">
  <Newsletter />
</Section>
<ScrollTopButton />
