---
import "@/styles/global.css";
import "@fontsource/geist-sans/400.css";
import "@fontsource/inconsolata/400.css";

import type { Locales } from "@/i18n/i18n-types";

import Aurora from "../aurora.astro";
import Fade from "../fade.astro";
import Head from "./head.astro";
import Noise from "./noise.astro";
import TailwindIndicator from "./tailwind-indicator.astro";

interface Props {
  lang: Locales;
  title: string;
  description: string;
  image?: string;
  translationLinks?: { lang: string; href: string }[];
}
const { lang, title, description, image, translationLinks } = Astro.props;
---

<!doctype html>
<html lang={lang} class="bg-zinc-900">
  <head>
    <Head
      title={title}
      description={description}
      image={image}
      translationLinks={translationLinks}
    />
  </head>
  <body
    class="relative min-h-screen overflow-x-hidden bg-radial-[at_50%_0%] from-zinc-900 to-zinc-950 text-zinc-400"
  >
    <Noise />
    <Aurora />
    <main>
      <slot />
      <Fade />
    </main>
    <TailwindIndicator />
    <script>
      import textWrapBalance from "./text-balance-polyfill";

      textWrapBalance();
    </script>
  </body>
</html>
