---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { $lang } from "@/i18n/translation";

interface Props {
  title: string;
  description: string;
  cover: ImageMetadata;
  coverAlt: string;
  colors: string[];
  pubDate: Date;
  href: string;
  tags: string[];
}

const { title, description, cover, coverAlt, pubDate, colors, href, tags } =
  Astro.props;
const locale = $lang.get();
---

<!-- Article Card -->
<article>
  <a
    href={href}
    class="group block rounded ring-zinc-200 ring-offset-4 ring-offset-black transition-colors duration-300 outline-none focus-visible:ring-1"
  >
    <div class="flex w-full flex-col gap-6">
      <!-- Image Section -->
      <div class="relative h-96 w-full">
        <div
          class="absolute inset-0 translate-y-10 bg-radial from-red-500 opacity-15 mix-blend-color-dodge blur-xl transition-opacity duration-1000 group-hover:opacity-30"
          style={{
            "--tw-gradient-from": colors[0],
            "--tw-gradient-to": colors[1],
          }}
        >
        </div>
        <Image
          src={cover}
          alt={coverAlt}
          class="absolute inset-0 size-full rounded-xl object-cover shadow-lg"
        />
      </div>
      <div class="mx-auto space-y-4">
        <p class="font-mono tracking-wider">
          {
            pubDate.toLocaleDateString(locale, {
              day: "numeric",
              month: "long",
              year: "numeric",
            })
          }
        </p>
        <h2
          class:list={[
            "text-lg text-balance text-zinc-300 underline decoration-zinc-600 underline-offset-4",
            "transition-colors duration-300 group-hover:text-zinc-100 group-hover:decoration-zinc-300",
          ]}
        >
          {title}
        </h2>
        <p class="max-w-2xl text-justify text-pretty hyphens-auto">
          {description}
        </p>
      </div>
    </div>
  </a>
</article>
