---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import { $lang } from "@/i18n/translation";

interface Props {
  title: string;
  description: string;
  cover: ImageMetadata;
  coverAlt: string;
  colors: string[];
  pubDate: Date;
  href: string;
}

const { title, description, cover, coverAlt, pubDate, colors, href } =
  Astro.props;
const locale = $lang.get();
---

<!-- Article Card -->
<article>
  <a
    href={href}
    class:list={[
      "group grid w-full grid-cols-1 gap-4 rounded md:grid-cols-2 md:gap-8",
      "ring-zinc-200 ring-offset-4 ring-offset-black transition-colors duration-300 outline-none focus-visible:ring-1",
    ]}
  >
    <!-- Image Section -->
    <div class="relative order-1 h-72 md:order-2">
      <div
        class="absolute inset-0 translate-y-10 bg-radial from-red-500 opacity-40 mix-blend-color-dodge blur-3xl"
        style={{
          "--tw-gradient-from": colors[0],
          "--tw-gradient-to": colors[1],
        }}
      >
      </div>
      <Image
        src={cover}
        alt={coverAlt}
        class="absolute inset-0 size-full rounded-xl object-cover shadow-2xl"
      />
    </div>

    <!-- Content Section -->
    <div class="order-2 flex flex-col justify-center gap-2 md:order-1">
      <p class="font-mono text-sm">
        {
          pubDate.toLocaleDateString(locale, {
            day: "numeric",
            month: "long",
            year: "numeric",
          })
        }
      </p>
      <!-- Title -->
      <h2
        class="text-lg text-pretty text-zinc-300 underline decoration-zinc-700 underline-offset-3 transition-colors duration-300 group-hover:text-zinc-100 group-hover:decoration-zinc-200"
      >
        {title}
      </h2>

      <!-- Description -->
      <p class="text-pretty hyphens-auto text-zinc-400">
        {description}
      </p>
    </div>
  </a>
</article>
