---
import { getLocalHref } from "@/lib/routing";
import Section from "@/components/section.astro";
import { getTranslation } from "@/i18n/translation";

import GridItem from "./grid-item.astro";

const t = getTranslation("home");
---

<Section _title="grid">
  <div class="grid gap-16 md:grid-cols-3">
    <!-- Building -->
    <div class="space-y-4">
      <h2 class="text-xs tracking-widest text-zinc-400 uppercase">
        {t.building.title()}
      </h2>
      <div class="space-y-8">
        <GridItem
          title="Github"
          description={t.building.github()}
          href="https://github.com/michaelheckmann"
          class={`after:content-['Github']`}
        />
        <GridItem
          title="Blog"
          description={t.building.blog()}
          href={getLocalHref("/blog")}
          openInNewTab={false}
          class={`after:content-['Blog']`}
        />
      </div>
    </div>

    <!-- Projects -->
    <div class="space-y-4">
      <h2 class="text-xs tracking-widest text-zinc-400 uppercase">
        {t.projects.title()}
      </h2>
      <div class="space-y-8">
        <GridItem
          title="Orbit"
          description={t.projects.orbit()}
          href="https://reachorbit.app/"
          class="after:content-['Orbit']"
        />
        <GridItem
          title="Stanford Study Platform"
          description={t.projects.stanford()}
          href="https://github.com/StanfordSpezi/spezi-web-study-platform"
          class="after:content-['Stanford_Study_Platform']"
        />
        <GridItem
          title="Amay Health"
          description={t.projects.amay()}
          href="https://www.amayhealth.com/en/"
          class="after:content-['Amay_Health']"
          wrapperClass="[font-feature-settings:'ss05'_1]"
        />
        <GridItem
          title="Qart"
          description={t.projects.qart()}
          href="https://www.qart.shop/"
          class="after:content-['Qart']"
        />
      </div>
    </div>

    <!-- Connect -->
    <div class="space-y-4">
      <h2 class="text-xs tracking-widest text-zinc-400 uppercase">
        {t.connect.title()}
      </h2>
      <div class="space-y-8">
        <GridItem
          title="Email"
          description={t.connect.email()}
          href="mailto:hello@heckmann.app"
          openInNewTab={false}
          class="after:content-['Email']"
        />
        <GridItem
          title="LinkedIn"
          description={t.connect.linkedIn()}
          href="https://linkedin.com/in/heckmannmichael"
          class="after:content-['LinkedIn']"
        />
        <GridItem
          title="Twitter"
          description={t.connect.twitter()}
          href="https://x.com/mt_heckmann"
          class="after:content-['Twitter']"
        />
      </div>
    </div>
  </div></Section
>
